div.nav-header {
	display: flex;
	justify-content: space-between; /* 要素を両端に配置 */
	align-items: center; /* 要素を垂直方向の中央に配置 */
	margin-left: 0px;
	margin-right: 0px;
}
div.nav {
	display: flex;
	float: right;
	margin-left: auto;
}
div.logo {
	display: flex;
	margin-right: auto;
}
#logo_image {
	// display: flex;
	// flex-direction: row;
	// justify-content: start;
	// margin-right: auto;
	background-image: url(./images/img_logo.png);
	height: 48px;
	width: 48px;
}

nav.navbar.navbar-fixed-top.navbar-light {
	display: flex;
	justify-content: space-between; /* 要素を両端に配置 */
	align-items: center; /* 要素を垂直方向の中央に配置 */
}

nav {
	margin: 0px;
}
.navbar {
	background: linear-gradient(180deg, #555555, #8a8a8a);
	// margin-left: auto;
	padding: 0px;
	// float: end;
}
.navbar-nav {
	display: flex;
	flex-direction: row;
	float: right;
	margin-left: auto;
	align-items: center;
	justify-content: end;
}
.nav-user {
	// background-color: #000000;
	// float: right;
	// justify-content: end;
	// margin-left: auto; /* このdiv内の要素を右に寄せる */
}

.nav-btn {
	background: linear-gradient(180deg, #55555500, #8a8a8a00);
	color: #ffffff;
	border-color: #8a8a8a00;
}

.nav-btn:hover {
	color: #ffffff;
}

.nav-btn:active {
	color: #ffffff;
}

.nav-btn:focus {
	color: #ffffff;
}

#nav-btn-danger {
	// margin-right: 10px;
}
.dropdown-menu {
	--bs-dropdown-link-active-bg: #bebebe;
}

#nav-btn-disabled-danger {
	background-color: #dc3545;
	color: #ffffff;
	border-color: #ffffff;
}

#nav-btn-disabled-info {
	background-color: #0dcaf0;
	color: #ffffff;
	border-color: #ffffff;
}

// ナビゲーションバーの項目
// .nav-item {
// 	background-color: #474747;
// }
.nav-link {
	display: flex;
	color: #aaaaaa; /* 非アクティブの文字色 */
	padding: 8px 8px;
	justify-content: center;
	font-family: 'Kosugi', sans-serif;
	// font-family: 'Kiwi Maru', serif;
	&:active {
		color: #fff;
	}
	&:hover {
		color: #fff;
	}
	&:focus {
		color: #fff;
	}
	&.active {
		// border-bottom: 2px solid #fff;
		// padding-top: 100px;
		width: auto;
	}
}
.nav-link.dropdown-toggle {
	display: flex;
	align-items: center; /* 垂直方向の中央揃え */
	justify-content: space-between; /* アイテムを均等に配置 */
}
