<% if current_user.admin %>
	<%= content_tag(:div, "", id: "static_admin_header") %>
<% else %>
	<%= content_tag(:div, "", id: "static_header") %>
<% end %>
<h5 class="mx-5 my-3">ダウンロードファイル一覧</h5>
<% if @files.blank? %>
	<p class="m-5">ダウンロード可能な運転日報はありません。</p>
<% else %>
<!-- ヘッダー部分 -->
	<section class="export_daily_log_index">
		<div class="bg-image h-100">
			<div class="mask d-flex align-items-center h-100" style="background-color: white">
				<div class="container">
					<!-- テーブルのヘッダー部分 -->
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover mb-0">
											<!-- テーブルタイトル -->
											<thead>
												<tr>
													<th>ダウンロード可能なPDF一覧</th>
												</tr>
											</thead>
											<!-- テーブルボディ -->
											<% @files.each do |file| %>
												<tbody>
													<tr>
                            <% filename = File.basename(file) %>
                            <td scope="row"><%= link_to filename, download_path(filename) %></td>
													</tr>
												</tbody>
											<% end %>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<% end %>
