<h2>車両を登録する</h2>
<%= form_for @vehicle, url: edit_confirm_management_vehicle_path(@vehicle), data: { turbo: false } do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <div>
    <%= f.submit '確認画面へ' %>
  </div>
<% end %>
