  <style>
      height: 210mm;
      width: 296.5mm;
      page-break-after: always;
      box-sizing: border-box;
      padding: 20mm 20mm;
      font-size: 11pt;
    @page {
      size: A4 landscape;
      margin: 0mm;
    }
    * {
      margin: 0mm;
      padding: 0mm;
    }

    p {
      font-size: small;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    .text-right {
        text-align: left;
        margin-left: auto;
        margin-right: 0px;
        width: 180px;
    }
    .text-center {
        text-align: center;
    }
  </style>
</head>
<body>
  <section class="print_page">
    <a href="javascript:void(0)" onclick="window.print();return false;">印刷する</a>
    <div class="header">
      <p class="text-right">作成日： @today</p>
      <p class="text-right">氏名： @user.name</p>
    </div>
    <div class="title">
        <h5 class="text-center">運転日報 2023/10/1 - 2023/10/31</h5>
    </div>
    <table border="1">
      <tr>
        <th>名前</th>
        <th>年齢</th>
      </tr>
      <tr>
        <td>田中</td>
        <td>27</td>
      </tr>
      <tr>
        <td>佐藤</td>
        <td>42</td>
      </tr>
    </table>
  </section>
</body>
