<div class="my-4 mx-5">
  <h2>運転日報</h2>
</div>
<% if @daily_logs.blank? %>
  <p>運転日報はありません。</p>
<% else %>
<!-- ヘッダー部分 -->
  <section class="daily_log_index">
    <div class="bg-image h-100">
      <div class="mask d-flex align-items-center h-100" style="background-color: white;">
        <div class="container">
          <!-- 検索とページネーション -->
          <%= render 'daily_logs/shared/index_header', q: @q, daily_logs: @daily_logs %>
          <!-- テーブルのヘッダー部分 -->
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover mb-0">
                      <!-- テーブルタイトル -->
                      <%= render partial: 'daily_logs/shared/index_table_header' %>
                        </tr>
                      </thead>
                      <!-- テーブルボディ -->
                      <% @daily_logs.each do |daily_log| %>
                        <%= render partial: 'daily_logs/shared/index_table', locals: {daily_log: daily_log} %>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
