<div class="my-4 m-5">
	<h5>運転日報の印刷ページ</h5>
</div>
<% if @users.blank? %>
<p class="m-5">運転日報はありません。</p>
<% else %>
<!-- ヘッダー部分 -->
<section class="export_daily_log_index">
	<div class="bg-image h-100">
		<div class="mask d-flex align-items-center h-100" style="background-color: white">
			<div class="container">
				<!-- テーブルのヘッダー部分 -->
				<div class="row justify-content-center">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover mb-0">
										<!-- テーブルタイトル -->
										<thead>
											<tr>
												<%#
												<th><%= sort_link(@q, :created_at, "登録日", class:"text-dark") %></th>
												%>
												<th><%= t('activerecord.attributes.user.user_name') %></th>
												<th><%= '運転日報の数' %></th>
												<th></th>
											</tr>
										</thead>
										<!-- テーブルボディ -->
										<% @uers.each do |user| %>
										<tbody>
											<tr>
												<th scope="row"><%= daily_log.created_at.strftime("%Y/%m/%d") %><%= daily_log.week_format %></th>
												<td><%= daily_log.departure_datetime.strftime("%Y/%m/%d %H:%M") %></td>
												<td><%= daily_log.arrival_datetime.strftime("%Y/%m/%d %H:%M") %></td>
												<td><%= "#{number_with_delimiter(daily_log.departure_distance)} km" %></td>
												<td><%= "#{number_with_delimiter(daily_log.arrival_distance)} km" %></td>
												<td><%= daily_log.departure_location %></td>
												<td><%= daily_log.arrival_location %></td>
												<td>
													<div class="dropdown custom-dropdown">
														<button class="btn btn-secondary dropdown-toggle text-dark" type="button" id="index_menu" data-bs-toggle="dropdown" aria-expanded="false">menu <i class="bi bi-chevron-down"></i></button>
														<ul class="dropdown-menu">
															<li class="ms-1"><%= link_to '詳細', daily_logs_show_path(daily_log), class: "dropdown-item" %></li>
															<li class="ms-1"><%= link_to "編集", edit_daily_log_path(daily_log), class: "dropdown-item" %></li>
															<hr />
															<li class="ms-1"><%= link_to "削除", daily_log_delete_path(daily_log), method: :post, class: "dropdown-item text-danger" %></li>
														</ul>
													</div>
												</td>
											</tr>
										</tbody>
										<% end %>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
