    <% flash.each do |message_type, message| %>
      <div class="text-danger text-center text-bold bg-light">
        <%= message %>
      </div>
    <% end %>
<h2>今からペンは不要です。 スマホでPCで運転の記録、始めましょう！</h2>
<h3>1人あたり、たったの380円で始まる働き方改革</h3>
<h4>このアプリがあなたの会社の社用車管理を強力にサポートします！</h4><br>
<%= content_tag(:div, "", id: "app") %><br>
<br>
<%= content_tag(:div, "", id: "daily_logs") %><br>
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <li class="dropdown">
    <a href="#" id="account" class="dropdown-toggle">
      Account <b class="caret"></b>
    </a>
    <ul id="dropdown-menu" class="dropdown-menu">
      <li class="divider"></li>
      <li>
        <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %>
      </li>
    </li>
