.nav-logo {
	background-color: #000000;
	vertical-align: bottom;
}

// gest

// .nav-guest {
// 	height: 48px;
// 	vertical-align: top;
// }

.navbar-nav {
	display: flex;
	flex-direction: row; /* 横並びにする */
}

.nav-item {
	// margin-right: 10px; /* 右の要素との間隔 */
}

.nav-btn {
	background-color: #555555;
	color: #ffffff;
	border-color: #555555;
}

.nav-btn:hover {
	color: #ffffff;
}

.nav-btn:active {
	color: #ffffff;
}

.nav-btn:focus {
	color: #ffffff;
}

#nav-btn-danger {
	// margin-right: 10px;
}

.dropdown-menu.active {
	display: block;
}

#nav-btn-disabled-danger {
	background-color: #dc3545;
	color: #ffffff;
	border-color: #ffffff;
}

#nav-btn-disabled-info {
	background-color: #0dcaf0;
	color: #ffffff;
	border-color: #ffffff;
}
