<nav class="navbar navbar-fixed-top navbar-light">
  <%# ゲストユーザー %>
  <% unless user_signed_in? %>
    <div class="logo">
      <%= link_to "", root_path, class:"nav-logo", id:"logo_image" %>
   </div>
   <%= render '/layouts/navbar_share/guest_user' %>
    </div>
  <% else %>
  <% end %>
</nav>